<div class="page-header">
<h1>Create your own woodland </h1>
  </div>
adding in the flowers and nature effects you want by clicking and dragging on the images
you can resize by pulling and pushing on any of four corners of image

<figure id="container4">

</figure>

