<h1>New photo</h1>
    <div id="open">
<%=link_to "where am I?","http://whatsmylatlng.com/", target: "_blank", class: "btn btn-turquoise btn-large" %>
   </div>

<%= render 'form' %>

<%= link_to 'Back', photos_path %>
