// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: separate;

}

table tr td {
  padding: 5px;
  vertical-align: top;
}

.list_content {
  width: 10%;
  font-weight: bold;

}

.list_content_head {
  padding-top: 50px;
  padding-bottom: 10px;
}

.list_text {
  font-weight: bold;
  width: 60%;

}

.list_image {
  width: 60px;
  height: 70px;

}

.list_text_comment {
  padding-right:10px;
  font-weight: bold;
  width: 72%;

}

.list_text_comment_small {
  font-weight: bold;
  color: rgb(128,0,0) ;


}

.list_description {


  dl {
    margin: 10px;
  }

  dt {
    color: black;
    font-weight: bold;
    font-size: larger;
  }

  dd {
    font-size: smaller;
    color: blue;
    margin: 0;
  }
}

.list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}

.list_line_even {
  background: white; /*floralwhite;  */
}

.list_line_odd {
  background: #FAFAFA; /* #FCFCFC; #D8D8D8 #F7F7F7;ghostwhite; */
}

/*img {box-shadow: 10px 10px 5px #888888;}   */

.image_list {
  -webkit-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  cursor: pointer;
  width: 120px;
}

.image_list:hover {

  text-decoration: none;
  opacity: 0.9;
  box-shadow: 10px 10px 5px #888888;
}

.links_list {
  position: relative;
  -webkit-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;

  cursor: pointer;
}

.links_list:hover {

  text-decoration: none;
  opacity: 0.9;
  box-shadow: 10px 10px 5px #888888;
}

.jakkibtn {
  padding-left: 10px;

  margin-right: 70px;
}

#customizeSearch {
  margin-top: 10px;
}

.links_list:link {
  padding: 5px;
  color: black;
}

.links_list:visited {
  color: black;
}

.development_ul {

  list-style: none;

}

.development_li_head {
  font-weight: bold;
  padding-bottom: 10px;
}

.development_li {
  list-style-type: none;
  padding-left: 20px;

}


.links-float{
  float:left;
  margin-left:100px;
  margin-bottom: 50px;
}
//Diggs Pagination (For will-paginate)

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child + html .digg_pagination {
  overflow: hidden;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}

.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}

.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}
#open{
  float:right;
  margin-right: 50px;
}
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px;
}

.flickr_pagination .previous_page {
  margin-right: 1em;
}

.flickr_pagination .next_page {
  margin-left: 1em;
}